
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - RevelOne</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="box" style="display: flex; justify-content: center; align-items: center; flex-direction: column; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <div>
      <img src="https://cdn.prod.website-files.com/66ffa15944d95316c51a25b2/6701610cf02fb8e8165982eb_revelone_logo.svg" alt="RevelOne Logo" style="top: 50%; left: 50%; transform: translate(0%, -50%);">
    </div>
    <a href="/signin">
      <button class="rounded-button">Login with Google</button>
    </a>
  </div>
</body>
</html>
